@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  font-family: "Tajawal", sans-serif;

  background: #f8f9f4;

  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

button {
  border: 0;
  cursor: pointer;
}

img {
  display: block;
}